<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>测试</title>
</head>
<body>
    <p style="color: red">欢迎光临</p>
    <h1>level1</h1>
    <ul>
        <li><a th:href="@{/level1/1}">11111</a> </li>
        <li><a th:href="@{/level1/2}">22222</a> </li>
        <li><a th:href="@{/level1/3}">33333</a> </li>
    </ul>
    <h1>level2</h1>
    <ul>
        <li><a th:href="@{/level2/1}">11111</a> </li>
        <li><a th:href="@{/level2/2}">22222</a> </li>
        <li><a th:href="@{/level2/3}">33333</a> </li>
    </ul>
    <h1>level3</h1>
    <ul>
        <li><a th:href="@{/level3/1}">11111</a> </li>
        <li><a th:href="@{/level3/2}">22222</a> </li>
        <li><a th:href="@{/level3/3}">33333</a> </li>
    </ul>
</body>
</html>